<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fuzzies</h1>
    <form action="/fuzzies" method="POST">
        Breed: <input type="text" name= "name"/><br/>
        Location: <input type="text" name= "location" /><br/>
        Male: <input type="checkbox" name="male" />
        Female: <input type="checkbox" name="male" /><br/>
        Desciption:<br/> <textarea id="description" name= description></textarea><br/>

        <input type="submit" name="" value="Add Fuzzy"/>
    </form>
</body>
</html>