<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FuzZies</h1>
    <form action="/fuzzies" method="POST">
        Breed: <input type="text" name= "name"/><br/>
        Color: <input type="text" name= "color" /><br/>
        Ready for adoption: <input type="checkbox" name="readyToAdopt" /><br/>
        <input type="submit" name="" value="create fuzzy"/>
    </form>
</body>
</html>